
.Do-calc {
    margin-top: 20px;
}

.Do-calc .field {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

.Do-calc label, .input {
    width: 50%;
}

.do-cal-btn {
    margin-top: 10px;
}